**MOVIE RECOMMENDATION ENGINE**

> Recommending movies, using the KNN algorithom, on the dataset from Kaggle

In [1]:
import pandas as pd
import numpy as np
from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import pairwise_distances
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import CountVectorizer 
from google.colab import files
import csv

Now let's upload the files. 


>**links.csv** contains the **iMDB ID** of the movies

>**movies.csv** contains **movie_name** and **genre** of the movies

>**ratings.csv** contains the **ratings** given by users for the movies

>**tags.csv** contains the **overall review** for the movies by the user

In [2]:
from google.colab import drive
drive.mount("/content/drive/")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

For the moment we will work with **movies.csv** and **ratings.csv** files

>As **links.csv** are only the iMDB ID's, we **don't actually need** those for recommendation

>And **tags.csv** contains user overall review. that might be **too biased**, so for the moment we are **not using that**

Now **construct the dataframes**, from the available data/information

In [3]:
df_links = pd.read_csv("drive/My Drive/Colab Notebooks/links.csv")
df_movies = pd.read_csv('drive/My Drive/Colab Notebooks/movies.csv')
df_ratings = pd.read_csv('drive/My Drive/Colab Notebooks/ratings.csv')
df_tags = pd.read_csv('drive/My Drive/Colab Notebooks/tags.csv')
print("Done")

Done

In [4]:
df_links.head(5)
df_links.shape

(9742, 3)

In [5]:
df_movies.head(5)
df_movies.shape

(9742, 3)

In [6]:
df_ratings.head(5)
df_ratings.shape

(100836, 4)

In [7]:
df_tags.head(5)
df_tags.shape

(3683, 4)

Now let's **combine the DataFrame** form the important dataframes **movies** and **ratings**. 

We will use the **combined DataFrame** for the **rest of the process** of building the recommendation

After combining we need to **remove the unimportant columns** (i.e. timestamps or genres (for now)).

In [8]:
df_combined = pd.merge(df_ratings, df_movies, on = 'movieId')
df_combined.head(5)

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       5  ...  Adventure|Animation|Children|Comedy|Fantasy
2       7  ...  Adventure|Animation|Children|Comedy|Fantasy
3      15  ...  Adventure|Animation|Children|Comedy|Fantasy
4      17  ...  Adventure|Animation|Children|Comedy|Fantasy

[5 rows x 6 columns]

In [9]:
new_df = df_combined.drop(['timestamp', 'genres'], axis = 1)
new_df.head(5)

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [10]:
new_df.shape

(100836, 4)

# **Explaination of the approach**

*   First we will make a **pivot table**, with **users being the row** and **movies being the column** and **ratings being the values**, to have better understanding of **which user, have given which movies, what rating** !! We also will have a clear view of **which user has seen which movies**, and what are the movies yet to be watched by each user. 
*   Then we will prapare some lists based on that pivot table. i.e. **list of movies seen by each user, index of those movies** and also **list of the movies yet to be seen by each user, the index of those movies**. Those will help us in further proceedings.
*   As rating in any movie, completely depends on the user, to avoid the bias, we will **not use the ratings as pivot table values**. Rather we should use binary values, where **1 represents the user has seen the movie**, and **0 represents the user hasn't seen the movie**.
*   Now each **column of the pivot table denotes a Vector** (depending on the users, if seen or not), based on that we will find the **cosine similarity of the movies**, with each other (here we will use python (SkLearn) built in cosine_sim and  Nearest_Neighbour functions). In that way we can easily find the **K-most similar movies (with the similarity values)**, for each movie (here we assume K = 10), representing K-Nearest-Neighbours.
*   Now comes the recommendation time. **For each user, the movies he/she has seen, for all of those movies we will find the similar movies. We will list them out, then remove all the movies from that list which has already been watched. Then we will sort them based on the similarity values. And finally recommend the movies which have the maximum similarity values.**

In [11]:
see_whats_happening = new_df.pivot_table(values = 'rating', index = 'userId', columns = 'title')
see_whats_happening.tail(5)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
606            NaN  ...                                        NaN
607            NaN  ...                                        NaN
608            NaN  ...                                        NaN
609            NaN  ...                                        NaN
610            4.0  ...                                        NaN

[5 rows x 9719 columns]

In [12]:
see_whats_happening.shape

(610, 9719)

**So from the Pivot Table we can see :**
*   We have 610 different users (who has seen at least one movie) and
*   We have 9719 different movies (that has been watched at least by one user)

In [13]:
rows = [x for x in range (0, len(see_whats_happening.columns))]
movies_by_user = {}
movies_not_rated_by_user = {}
movie_indexes = {}
movie_not_rated_indexes = {}
for i, row in see_whats_happening.iterrows():
  if_reviewed = list(zip(row.index, row.values, rows))
  #rated list
  if_rated = [(x,z) for x,y,z in if_reviewed if str(y) != 'nan']
  rated_movies_index = [x[1] for x in if_rated]
  rated_movies = [x[0] for x in if_rated]
  movies_by_user[i] = rated_movies
  movie_indexes[i] = rated_movies_index
  #unrated list
  if_not_rated = [(x,z) for x,y,z in if_reviewed if str(y) == 'nan']
  unrated_movies_index = [x[1] for x in if_not_rated]
  unrated_movies = [x[0] for x in if_not_rated]
  movies_not_rated_by_user[i] = unrated_movies
  movie_not_rated_indexes[i] = unrated_movies_index
print('Done')

Done

In [14]:
print(movies_by_user[20])
print(movie_indexes[20])

# print(movies_not_rated_by_user[20])
# print(movie_not_rated_indexes[20])

['101 Dalmatians (1996)', '101 Dalmatians (One Hundred and One Dalmatians) (1961)', '6th Day, The (2000)', 'A.I. Artificial Intelligence (2001)', 'Adanggaman (2000)', 'Aladdin (1992)', 'Alice in Wonderland (1951)', 'Almost Famous (2000)', 'American Pie 2 (2001)', 'American Psycho (2000)', 'American Tail, An (1986)', 'Anastasia (1997)', 'Angels in the Outfield (1994)', 'Annie (1982)', 'Antz (1998)', 'Atlantis: The Lost Empire (2001)', 'Austin Powers in Goldmember (2002)', 'Babe (1995)', 'Balto (1995)', 'Bambi (1942)', 'Beautiful Mind, A (2001)', 'Beauty and the Beast (1991)', 'Bedknobs and Broomsticks (1971)', 'Billy Elliot (2000)', 'Birds, The (1963)', 'Black Cauldron, The (1985)', 'Black Stallion, The (1979)', 'Blade (1998)', 'Blade II (2002)', 'Borrowers, The (1997)', 'Bourne Identity, The (2002)', 'Bowfinger (1999)', 'Brave Little Toaster, The (1987)', "Bridget Jones's Diary (2001)", 'Bring It On (2000)', "Bug's Life, A (1998)", 'Casper (1995)', 'Cast Away (2000)', 'Catch Me If You Can (2002)', "Cats Don't Dance (1997)", 'Changing Lanes (2002)', "Charlie's Angels (2000)", "Charlotte's Web (1973)", 'Chicago (2002)', 'Chicken Run (2000)', 'Chocolat (2000)', 'Chorus Line, A (1985)', 'Christmas Story, A (1983)', 'Cinderella (1950)', 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)', 'Daredevil (2003)', 'Dark Crystal, The (1982)', 'Deep Impact (1998)', 'Dennis the Menace (1993)', 'Dinosaur (2000)', 'Dirty Dancing (1987)', 'Doctor Dolittle (1967)', 'Dumbo (1941)', 'E.T. the Extra-Terrestrial (1982)', "Emperor's New Groove, The (2000)", "Endurance: Shackleton's Legendary Antarctic Expedition, The (2000)", 'Erin Brockovich (2000)', 'Fantasia (1940)', 'Fantasia 2000 (1999)', 'Fast and the Furious, The (2001)', 'Final Fantasy: The Spirits Within (2001)', 'Finding Forrester (2000)', 'Fly Away Home (1996)', 'Frequency (2000)', 'From Hell (2001)', 'Ghost World (2001)', 'Gladiator (2000)', 'Goofy Movie, A (1995)', 'Goonies, The (1985)', 'Gosford Park (2001)', 'Grease (1978)', 'Great Mouse Detective, The (1986)', 'Great Muppet Caper, The (1981)', 'Guys and Dolls (1955)', 'Harriet the Spy (1996)', 'Harry Potter and the Chamber of Secrets (2002)', "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)", 'Hercules (1997)', 'Holes (2003)', 'Home Alone (1990)', 'Homeward Bound: The Incredible Journey (1993)', 'Honey, I Shrunk the Kids (1989)', 'How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)', 'Hunchback of Notre Dame, The (1996)', 'I Am Sam (2001)', 'Ice Age (2002)', 'Insomnia (2002)', 'Iron Giant, The (1999)', 'Iron Monkey (Siu nin Wong Fei-hung ji: Tit Ma Lau) (1993)', 'Jackass: The Movie (2002)', 'James and the Giant Peach (1996)', 'Jay and Silent Bob Strike Back (2001)', 'Jimmy Neutron: Boy Genius (2001)', 'Joy Ride (2001)', 'Jumanji (1995)', 'Jungle Book, The (1967)', 'Jungle Book, The (1994)', 'Jurassic Park III (2001)', 'Keeping the Faith (2000)', 'Kid, The (2000)', 'King and I, The (1956)', 'Kiss Me Kate (1953)', "Knight's Tale, A (2001)", 'Lady and the Tramp (1955)', 'Land Before Time, The (1988)', 'Lara Croft: Tomb Raider (2001)', 'Legally Blonde (2001)', 'Legend of Drunken Master, The (Jui kuen II) (1994)', 'Lion King, The (1994)', 'Little Mermaid, The (1989)', 'Little Princess, A (1995)', 'Little Shop of Horrors (1986)', 'Lord of the Rings, The (1978)', 'Lord of the Rings: The Fellowship of the Ring, The (2001)', 'Lord of the Rings: The Two Towers, The (2002)', 'Love Bug, The (1969)', 'Madeline (1998)', 'Mary Poppins (1964)', 'Mask of Zorro, The (1998)', 'Matilda (1996)', 'Matrix Reloaded, The (2003)', 'Meet the Parents (2000)', 'Memento (2000)', 'Mexican, The (2001)', 'Mighty Joe Young (1949)', 'Minority Report (2002)', 'Miss Congeniality (2000)', 'Mission: Impossible II (2000)', "Monster's Ball (2001)", 'Monsters, Inc. (2001)', 'Moulin Rouge (2001)', 'Mulan (1998)', 'Mulholland Drive (2001)', 'Mummy Returns, The (2001)', 'Mummy, The (1999)', 'Muppet Christmas Carol, The (1992)', 'Muppet Movie, The (1979)', 'Muppet Treasure Island (1996)', 'Muppets From Space (1999)', 'Muppets Take Manhattan, The (1984)', 'My Big Fat Greek Wedding (2002)', 'My Dog Skip (1999)', 'My Fair Lady (1964)', 'NeverEnding Story, The (1984)', 'Nightmare Before Christmas, The (1993)', 'O Brother, Where Art Thou? (2000)', 'Old Yeller (1957)', 'Oliver & Company (1988)', 'Others, The (2001)', 'Parent Trap, The (1961)', 'Parent Trap, The (1998)', 'Patriot, The (2000)', 'Pearl Harbor (2001)', 'Perfect Storm, The (2000)', "Pete's Dragon (1977)", 'Peter Pan (1953)', 'Pinocchio (1940)', 'Pitch Black (2000)', 'Planet of the Apes (2001)', 'Pocahontas (1995)', 'Prince of Egypt, The (1998)', 'Princess Diaries, The (2001)', 'Producers, The (1968)', "Recess: School's Out (2001)", 'Red Dragon (2002)', 'Reign of Fire (2002)', 'Rescuers Down Under, The (1990)', 'Rescuers, The (1977)', 'Return of Jafar, The (1994)', 'Return to Me (2000)', 'Ring, The (2002)', 'Road to El Dorado, The (2000)', 'Robin Hood (1973)', 'Rocky Horror Picture Show, The (1975)', 'Royal Tenenbaums, The (2001)', 'Rugrats in Paris: The Movie (2000)', 'Sandlot, The (1993)', 'Santa Clause, The (1994)', 'Saturday Night Fever (1977)', 'Save the Last Dance (2001)', 'Scooby-Doo (2002)', 'Secret Garden, The (1993)', 'Sexy Beast (2000)', 'Shaft (2000)', 'Shanghai Knights (2003)', 'Shanghai Noon (2000)', 'Shiloh (1997)', 'Shrek (2001)', 'Signs (2002)', "Singin' in the Rain (1952)", 'Sleeping Beauty (1959)', 'Snow White and the Seven Dwarfs (1937)', 'Soft Fruit (1999)', 'Sound of Music, The (1965)', 'South Pacific (1958)', 'South Park: Bigger, Longer and Uncut (1999)', 'Spider-Man (2002)', 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)', 'Splash (1984)', 'Spy Game (2001)', 'Spy Kids (2001)', 'Spy Kids 2: The Island of Lost Dreams (2002)', 'Star Wars: Episode II - Attack of the Clones (2002)', 'State and Main (2000)', 'Stuart Little (1999)', 'Super Troopers (2001)', 'Sword in the Stone, The (1963)', 'Swordfish (2001)', 'Tao of Steve, The (2000)', 'Tarzan (1999)', 'Teenage Mutant Ninja Turtles (1990)', 'That Darn Cat! (1965)', 'The Scorpion King (2002)', 'Time Machine, The (2002)', 'Tom and Huck (1995)', 'Tomorrow Never Dies (1997)', 'Toy Story 2 (1999)', 'Trail of the Pink Panther (1982)', 'Training Day (2001)', 'U-571 (2000)', 'Unbreakable (2000)', 'Unfaithful (2002)', 'Vertical Limit (2000)', 'Wallace & Gromit: The Best of Aardman Animation (1996)', 'Wallace & Gromit: The Wrong Trousers (1993)', 'West Side Story (1961)', 'Where the Heart Is (2000)', 'Who Framed Roger Rabbit? (1988)', 'Whole Nine Yards, The (2000)', 'Wild Wild West (1999)', 'Willy Wonka & the Chocolate Factory (1971)', 'Wizard of Oz, The (1939)', 'X-Men (2000)', 'X2: X-Men United (2003)', 'Yellow Submarine (1968)', 'Zoolander (2001)', 'xXx (2002)']
[23, 24, 132, 178, 220, 298, 325, 370, 428, 435, 440, 473, 501, 530, 553, 651, 673, 713, 785, 787, 900, 904, 917, 1081, 1095, 1110, 1133, 1144, 1145, 1281, 1292, 1297, 1334, 1377, 1387, 1447, 1602, 1606, 1624, 1632, 1668, 1683, 1687, 1711, 1713, 1742, 1747, 1759, 1777, 2059, 2152, 2159, 2306, 2331, 2406, 2409, 2444, 2622, 2638, 2724, 2743, 2773, 2922, 2923, 2951, 3028, 3032, 3111, 3220, 3254, 3415, 3474, 3567, 3570, 3576, 3603, 3616, 3617, 3691, 3783, 3787, 3794, 3899, 3977, 3996, 4004, 4010, 4090, 4131, 4162, 4224, 4383, 4438, 4445, 4507, 4516, 4535, 4575, 4625, 4645, 4653, 4654, 4663, 4706, 4728, 4775, 4801, 4821, 4876, 4893, 4903, 4990, 4997, 5103, 5127, 5135, 5138, 5203, 5204, 5206, 5246, 5337, 5481, 5487, 5508, 5510, 5564, 5572, 5616, 5648, 5677, 5696, 5715, 5770, 5776, 5824, 5872, 5875, 5879, 5882, 5887, 5889, 5890, 5891, 5893, 5923, 5936, 5937, 6057, 6116, 6222, 6272, 6274, 6377, 6475, 6476, 6511, 6531, 6564, 6580, 6582, 6632, 6649, 6668, 6686, 6803, 6811, 6829, 7004, 7021, 7049, 7077, 7078, 7091, 7098, 7147, 7174, 7182, 7215, 7268, 7280, 7358, 7368, 7377, 7384, 7430, 7468, 7546, 7558, 7576, 7577, 7620, 7653, 7678, 7711, 7753, 7805, 7814, 7875, 7881, 7882, 7921, 7931, 7934, 7948, 7950, 7951, 7999, 8021, 8119, 8175, 8240, 8245, 8313, 8319, 8341, 8386, 8597, 8761, 8815, 8825, 8872, 8880, 8884, 9021, 9039, 9069, 9162, 9251, 9252, 9348, 9397, 9433, 9442, 9477, 9485, 9537, 9615, 9621, 9630, 9703, 9715]

In [15]:
#filling the NaN with 0's
pivot_table = see_whats_happening.fillna(0)
#making the table a binary one(only 0/1)
pivot_table = pivot_table.apply(np.sign)
#reversing the table, making rows into columns and columns into rows
pivot_table.T.tail(5)
# pivot_table.head(5)

userId                                     1    2    3    ...  608  609  610
title                                                     ...
eXistenZ (1999)                            0.0  0.0  0.0  ...  1.0  0.0  0.0
xXx (2002)                                 0.0  0.0  0.0  ...  1.0  0.0  1.0
xXx: State of the Union (2005)             0.0  0.0  0.0  ...  0.0  0.0  1.0
¡Three Amigos! (1986)                      1.0  0.0  0.0  ...  0.0  0.0  0.0
À nous la liberté (Freedom for Us) (1931)  0.0  0.0  0.0  ...  0.0  0.0  0.0

[5 rows x 610 columns]

In [16]:
#for us let k be 20, for K-Nearest Neighbours
k = 20
#we will use cosine similarity
cosine_sim = NearestNeighbors(n_neighbors = k, algorithm = 'brute', metric = 'cosine') 
#now let's fit our data
item_sim = cosine_sim.fit(pivot_table.T.values)
#now the neighbours
item_distances, item_indices = item_sim.kneighbors(pivot_table.T.values)
print('Done')

Done

In [17]:
print(item_indices[20])
print(item_distances[20])

[  20 2213 3316 4328 8686 5146 3389  252  889 3551 9134 7526 8896 9063
 4982 6189   21 6096 5622 1949]
[0.         0.54165075 0.57125354 0.59003997 0.60394098 0.61412818
 0.61651751 0.62952071 0.6333206  0.6333206  0.63436379 0.63436379
 0.63619656 0.63619656 0.63619656 0.63619656 0.63619656 0.64599478
 0.64705882 0.64992998]

In [18]:
#now lets list out(dictionary) the nearest neighbours(movies)
sim_movies = {}
for i in range(len(pivot_table.T.index)):
  movie_names = pivot_table.T.index[item_indices[i]].tolist()
  sim_movies[pivot_table.T.index[i]] = movie_names
print('Done')

Done

In [19]:
recommendations = {}
for user,seen_movies in movie_indexes.items():
  neighbour_ind = [j for i in item_indices[seen_movies] for j in i]
  neighbour_dis = [j for i in item_distances[seen_movies] for j in i]
  #now combine the index and the distances
  neighbour_info = list(zip(neighbour_ind, neighbour_dis))
  #now create another dictionary to seperate the movies which the user have not seen
  not_seen_neighbour = {i:d for i,d in neighbour_info if i not in seen_movies}
  #now create a list back from dictionary
  neighbours_not_seen_info = list(zip(not_seen_neighbour.keys(), not_seen_neighbour.values())) 
  #now sort based on distances(nearest)
  nearest_neighbours = sorted(neighbours_not_seen_info, key = lambda x:x[1])
  #converting the indexes into movie names
  nearest_unseen_movies = [pivot_table.columns[i] for i, distance in nearest_neighbours]
  nearest_unseen_movies = nearest_unseen_movies[0 : 25]
  #now add that to the final recommendations dictionary
  recommendations[user] = nearest_unseen_movies
  if user == 20:
    print(recommendations[user])
print('done')

['Pirate Movie, The (1982)', 'Real Women Have Curves (2002)', 'Northfork (2003)', 'Notorious Bettie Page, The (2005)', 'Nicholas Nickleby (2002)', 'Nowhere in Africa (Nirgendwo in Afrika) (2001)', 'Valley Girl (1983)', 'Halloween II (2009)', 'Tremors 3: Back to Perfection (2001)', 'Dog Soldiers (2002)', 'Wallace & Gromit: A Close Shave (1995)', 'Batman: Year One (2011)', 'Texas Chainsaw Massacre: The Next Generation (a.k.a. The Return of the Texas Chainsaw Massacre) (1994)', "Pyromaniac's Love Story, A (1995)", 'Candleshoe (1977)', "Class of Nuke 'Em High (1986)", 'Ugly, The (1997)', 'Twelve Chairs, The (1970)', 'Chairman of the Board (1998)', 'Pest, The (1997)', 'Turbulence (1997)', 'Dark Half, The (1993)', 'Oxygen (1999)', 'Deadtime Stories (1987)', 'That Darn Cat (1997)']
done

Now what we will do is that, we will **save the recommendations** per user in a **.CSV file**.

So that during **prediction**, we will have the **preprocessed output** already in our hand.

In [20]:
output_file = open("drive/My Drive/Colab Notebooks/recommend_movies.csv", "w", newline = "")
write_csv = csv.writer(output_file)
tuple = ("user_ID", "movie 1", "movie 2", "movie 3", "movie 4", "movie 5", "movie 6", "movie 7", "movie 8", "movie 9", "movie 10", "movie 11", "movie 12", "movie 13", "movie 14", "movie 15", "movie 16", "movie 17", "movie 18", "movie 19", "movie 20", "movie 21", "movie 22", "movie 23", "movie 24", "movie 25")
write_csv.writerow(tuple)
for user, movies in recommendations.items():
 movies.insert(0, user)
 tuple = (i for i in movies)
 write_csv.writerow(tuple)
output_file.close()

* What we did previously is that, for each movie we tried to get the similar movies.

* Then based on that, and what one user has already seen, we recommend movies to them.

* Now we want to try another thing is that, for each user we will try to find the similar users, based on what movies they have seen.

* Now for each movie we are trying to get the users whom we can recommend this to.

In [21]:
rows = [x for x in range (0, len(see_whats_happening.T.columns))]
user_ID = {}
not_seen_user_ID = {}
user_indexes = {}
not_seen_user_indexes = {}
for i, row in see_whats_happening.T.iterrows():
  if_reviewed_user = list(zip(row.index, row.values, rows))
  #rated list
  if_rated_user = [(x,z) for x,y,z in if_reviewed_user if str(y) != 'nan']
  rated_user_index = [x[1] for x in if_rated_user]
  rated_users = [x[0] for x in if_rated_user]
  user_ID[i] = rated_users
  user_indexes[i] = rated_user_index
  #unrated list
  if_not_rated_user = [(x,z) for x,y,z in if_reviewed_user if str(y) == 'nan']
  unrated_user_index = [x[1] for x in if_not_rated_user]
  unrated_users = [x[0] for x in if_not_rated_user]
  not_seen_user_ID[i] = unrated_users
  not_seen_user_indexes[i] = unrated_user_index
print('Done')

Done

In [22]:
print(user_ID["Star Wars: Episode VI - Return of the Jedi (1983)"])
print(user_indexes["Star Wars: Episode VI - Return of the Jedi (1983)"])

[1, 7, 11, 15, 17, 18, 19, 21, 27, 28, 30, 33, 39, 42, 44, 45, 52, 57, 59, 62, 63, 64, 66, 68, 69, 70, 71, 72, 77, 79, 82, 84, 86, 91, 95, 96, 97, 101, 103, 112, 114, 120, 122, 124, 125, 129, 132, 135, 137, 140, 141, 149, 160, 164, 165, 166, 167, 171, 172, 177, 182, 183, 186, 187, 195, 198, 199, 200, 201, 202, 208, 210, 211, 212, 217, 219, 220, 224, 226, 232, 234, 239, 246, 247, 248, 249, 254, 255, 256, 261, 263, 264, 266, 267, 268, 274, 275, 276, 279, 283, 288, 292, 294, 298, 303, 304, 305, 307, 312, 313, 318, 328, 330, 332, 334, 337, 344, 350, 354, 357, 361, 364, 368, 370, 372, 376, 380, 381, 382, 385, 387, 391, 399, 400, 408, 414, 425, 428, 430, 432, 434, 437, 438, 448, 452, 453, 462, 464, 465, 469, 474, 475, 477, 479, 480, 483, 492, 494, 513, 514, 517, 522, 524, 525, 527, 534, 540, 549, 551, 554, 555, 557, 559, 560, 561, 567, 570, 572, 573, 577, 580, 586, 590, 591, 593, 594, 596, 597, 599, 600, 603, 605, 606, 607, 608, 610]
[0, 6, 10, 14, 16, 17, 18, 20, 26, 27, 29, 32, 38, 41, 43, 44, 51, 56, 58, 61, 62, 63, 65, 67, 68, 69, 70, 71, 76, 78, 81, 83, 85, 90, 94, 95, 96, 100, 102, 111, 113, 119, 121, 123, 124, 128, 131, 134, 136, 139, 140, 148, 159, 163, 164, 165, 166, 170, 171, 176, 181, 182, 185, 186, 194, 197, 198, 199, 200, 201, 207, 209, 210, 211, 216, 218, 219, 223, 225, 231, 233, 238, 245, 246, 247, 248, 253, 254, 255, 260, 262, 263, 265, 266, 267, 273, 274, 275, 278, 282, 287, 291, 293, 297, 302, 303, 304, 306, 311, 312, 317, 327, 329, 331, 333, 336, 343, 349, 353, 356, 360, 363, 367, 369, 371, 375, 379, 380, 381, 384, 386, 390, 398, 399, 407, 413, 424, 427, 429, 431, 433, 436, 437, 447, 451, 452, 461, 463, 464, 468, 473, 474, 476, 478, 479, 482, 491, 493, 512, 513, 516, 521, 523, 524, 526, 533, 539, 548, 550, 553, 554, 556, 558, 559, 560, 566, 569, 571, 572, 576, 579, 585, 589, 590, 592, 593, 595, 596, 598, 599, 602, 604, 605, 606, 607, 609]

In [23]:
#for us let k be 50, for K-Nearest Neighbours (for users)
k = 50
#we will use cosine similarity
cosine_sim_user = NearestNeighbors(n_neighbors = k, algorithm = 'brute', metric = 'cosine') 
#now let's fit our data
item_sim_user = cosine_sim.fit(pivot_table.values)
#now the neighbours
item_distances_user, item_indices_user = item_sim_user.kneighbors(pivot_table.values)
print('Done')

Done

In [25]:
print(item_indices_user[20])
print(item_distances_user[20])

[ 20 533 248 291 474 560 379  61  67  17 140 176 297 482 447 572 304 465
  62 219]
[0.         0.58538067 0.59748427 0.6085467  0.61456277 0.63423803
 0.64604517 0.64734834 0.65319525 0.66071375 0.66643161 0.66973678
 0.67129887 0.67247429 0.67536361 0.67577645 0.68044777 0.68266552
 0.68829968 0.69288862]

In [26]:
#now lets list out(dictionary) the nearest neighbours(users)
sim_users = {}
for i in range(len(pivot_table.index)):
  user = pivot_table.index[item_indices_user[i]].tolist()
  sim_users[pivot_table.index[i]] = user
print('Done')

Done

In [27]:
recommendations_user = {}
for movies, who_watched in user_indexes.items():
  neighbour_ind_user = [j for i in item_indices_user[who_watched] for j in i]
  neighbour_dis_user = [j for i in item_distances_user[who_watched] for j in i]
  #now combine the index and the distances
  neighbour_info_user = list(zip(neighbour_ind_user, neighbour_dis_user))
  #now create another dictionary to seperate the users who already have seen the movie
  not_seen_neighbour_user = {i:d for i,d in neighbour_info_user if i not in who_watched}
  #now create a list back from dictionary
  neighbours_not_seen_info_user = list(zip(not_seen_neighbour_user.keys(), not_seen_neighbour_user.values())) 
  #now sort based on distances(nearest)
  nearest_neighbours_user = sorted(neighbours_not_seen_info_user, key = lambda x:x[1])
  #converting the indexes into user_ID's
  nearest_unseen_user = [pivot_table.T.columns[i] for i, distance in nearest_neighbours_user]
  nearest_unseen_user = nearest_unseen_user[0 : 10]
  #now add that to the final recommendations dictionary
  recommendations_user[movies] = nearest_unseen_user
  if movies == "Star Wars: Episode VI - Return of the Jedi (1983)":
    print(recommendations_user[movies])
print('done')

[240, 58, 456, 284, 270, 447, 43, 151, 436, 389]
done

In [28]:
output_file = open("drive/My Drive/Colab Notebooks/recommend_user.csv", "w", newline = "")
write_csv = csv.writer(output_file)
tuple = ("movie_Name", "user 1", "user 2", "user 3", "user 4", "user 5", "user 6", "user 7", "user 8", "user 9", "user 10")
write_csv.writerow(tuple)
for movie, users in recommendations_user.items():
  users.insert(0, movie)
  tuple = (i for i in users)
  write_csv.writerow(tuple)
output_file.close()

Now Let's see what we have achieved :)

In [29]:
df_movies_rec = pd.read_csv("drive/My Drive/Colab Notebooks/recommend_movies.csv")
df_users_rec = pd.read_csv("drive/My Drive/Colab Notebooks/recommend_user.csv")
print('Done')

Done

In [30]:
df_movies_rec.head(5)

   user_ID  ...                                    movie 25
0        1  ...                       Gangster No. 1 (2000)
1        2  ...  Harold and Kumar Go to White Castle (2004)
2        3  ...                            Tormented (1960)
3        4  ...                              Rosetta (1999)
4        5  ...                       Godfather, The (1972)

[5 rows x 26 columns]

In [31]:
df_users_rec.head(5)

                                movie_Name  user 1  ...  user 9  user 10
0                               '71 (2014)     249  ...     561      219
1  'Hellboy': The Seeds of Creation (2004)     434  ...     254      573
2                   'Round Midnight (1986)     330  ...     219      328
3                      'Salem's Lot (2004)     271  ...     603       51
4                'Til There Was You (1997)     271  ...     409      391

[5 rows x 11 columns]